{
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "semi": [1, "never"],
        "no-undef": 1,
        "no-unused-vars": 1
    },
    "plugins": [
        "react"
    ],

    "extends": ["plugin:react/recommended"]
}
